<team-nav-bar></team-nav-bar>
<div class="teamSchedule">
  <ng-container *ngFor="let item of schedule">
    <ng-container *ngIf="getGameInfo(item)">
      <div *ngIf="game">
        <div *ngIf="game && game.game_data; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <div class="dayRow">
            <div class="dayDate">
              <div class="text center cool-grey-dark small regular">{{ item.event.start.datetime | date:'fullDate' }}</div>
            </div>
            <div>
              <a class="event" href="/team/{{ teamId }}/schedule/{{ game.event_id }}">
              <div class="title">
                <div class="text left off-black base semibold">{{ item.pregame_data.home_away === "away" ?  '@' : 'vs' }} {{item.event.title}}</div>
              </div>
              <div *ngIf="item.event.location" class="text left cool-grey-dark small regular location">{{ item.event.location.name  }}</div>
              <div class="scoreOrTime">
                <span class="text left off-black base semibold EventScore__win scoreOrTimeText">{{  getResult(game.game_data.team_score, game.game_data.opponent_score) }} {{ game?.game_data?.team_score }} - {{ game?.game_data?.opponent_score }}</span>
                <span class="ScheduleList__chevron"><svg xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 14 14"><path class="Icon__cool-grey-dark Icon__fill" d="M1.079 13c-.277 0-.553-.106-.763-.317-.421-.424-.421-1.109 0-1.532L4.949 6.5.316 1.848C-.105 1.426-.105.741.316.318c.421-.424 1.104-.424 1.526 0L8 6.5l-6.158 6.183c-.21.21-.487.317-.763.317" fill-rule="evenodd"></path></svg></span>
              </div>
              </a>
            </div>
          </div>
        </ng-template>
        <ng-template #elseBlock>
          <div class="dayRow">
            <div class="dayDate">
              <div class="text center cool-grey-dark small regular">{{ item.event.start.datetime | date:'fullDate' }}</div>
            </div>
            <div>
              <div class="title">
                <div class="text left off-black base semibold">{{ item.pregame_data.home_away === "away" ?  '@' : 'vs' }} {{item.event.title}}</div>
              </div>
              <div *ngIf="item.event.location" class="text left cool-grey-dark small regular location">{{ item.event.location.name  }}</div>
            </div>
          </div>
        </ng-template>
      </div>
    </ng-container>
  </ng-container>
</div>
