<team-nav-bar></team-nav-bar>
<div class="teamSchedule">
  <ng-container *ngFor="let item of schedule">
    <ng-container *ngIf="getGameInfo(item)">
      <div *ngIf="game">
        <div *ngIf="game && game.game_data; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <div class="dayRow">
            <div class="dayDate">
              <div class="text center cool-grey-dark small regular">{{ item.event.start.datetime | date:'fullDate' }}</div>
            </div>
            <div>
              <a class="event" href="/team/{{ teamId }}/schedule/{{ game.event_id }}">
              <div class="title">
                <div class="text left off-black base semibold">{{ item.pregame_data.home_away === "away" ?  '@' : 'vs' }} {{item.event.title}}</div>
              </div>
              <div class="text left cool-grey-dark small regular location">{{ item.event.location.name  }}</div>
              <div class="scoreOrTime">
                <span class="text left off-black base semibold EventScore__win scoreOrTimeText">{{  getResult(game.game_data.team_score, game.game_data.opponent_score) }} {{ game?.game_data?.team_score }} - {{ game?.game_data?.opponent_score }}</span>
              </div>
              </a>
            </div>
          </div>
        </ng-template>
        <ng-template #elseBlock>
          <div class="dayRow">
            <div class="dayDate">
              <div class="text center cool-grey-dark small regular">{{ item.event.start.datetime | date:'fullDate' }}</div>
            </div>
            <div>
              <div class="title">
                <div class="text left off-black base semibold">{{ item.pregame_data.home_away === "away" ?  '@' : 'vs' }} {{item.event.title}}</div>
              </div>
              <div class="text left cool-grey-dark small regular location">{{ item.event.location.name  }}</div>
            </div>
          </div>
        </ng-template>
      </div>
    </ng-container>
  </ng-container>
</div>
