h1 {
  -webkit-text-size-adjust: 100%;
  color: #35373d;
  font: 12px "Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: 0 0;
  line-height: 1;
  font-size: 2.5em !important;
  font-weight: 700;
  margin-bottom: 5px !important;
}

  h1 a {
    -webkit-text-size-adjust: 100%;
    font: 12px "Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 700;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
    cursor: pointer;
    color: #111 !important;
    text-decoration: none !important;
  }

h2 {
  -webkit-text-size-adjust: 100%;
  font: 12px "Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: 0 0;
  line-height: 1;
  font-weight: 400 !important;
  color: #777;
  font-size: 1.2em !important;
  margin-bottom: 5px;
}
