@import './variables.scss';

* {
  box-sizing: border-box;
}

// prevent safari's focus ring highlight
*:focus {
  outline: 1px solid grey;
}

*:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

html,
body {
  background-color: $cool-grey-lighter;
  margin: 0;
  padding: 0;
  color: $off-black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  height: 100%;
  width: 100%;
}

body {
  -webkit-overflow-scrolling: touch; // mobile Safari
}

.page-wrapper {
  color: black;
}

form {
  width: 100%;
}

.mainGrid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr;
}

.footer {
  width: 100%;
  padding-right: 24px;
  padding-left: 24px;
}
