<div class="nav-bar-container">
  <a class="logoHolder" href="#"><img class="logo" style="width: 50px; height:50px;" src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9d/St._Louis_Cardinals_logo.svg/1200px-St._Louis_Cardinals_logo.svg.png" alt="Portal home page"></a>
  <div class="dropdown"><span class="container" role="button" tabindex="0"><span class="text left white base bold">Stats</span></span></div>
  <div class="nav-menu-container hide">
    <app-search></app-search>
  </div>
</div>
