@import '../../variables.scss';

.nav-bar {
  position: relative; // IE Fallback
  top: 0;
  z-index: $nav-z-index;
  display: flex;
  height: $xxx-large-spacing;
  box-shadow: $box-shadow-large;
  align-items: center;
  background-color: $light-blue;
}

.grid {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
  height: 40px;
}

.logo--centered {
  margin: 0 auto;
}

.logoHolder {
  display: flex;
  align-items: center;

  & > * {
    margin-right: 8px;
  }
}

.backButton {
  background-color: inherit;
  justify-content: start;

  &:hover {
    background-color: inherit;
  }
}

@media screen and (max-width: $xxs-breakpoint-max) {
  .logo--stacked {
    height: 28px;
  }
}

.nav-bar-container {
  display: grid;
  grid-template-columns: 225px 1fr max-content;
  padding: 12px $medium-spacing 12px $small-spacing;
  width: 100%;
  background-color: $light-blue;
  height: $navbar-height;
  @include sticky('start-of-page');
  z-index: $sticky-z-index;

  a,
  a:active {
    text-decoration: none;
    display: flex;
  }

  &:after {
    content: '';
    display: block;
    height: 10px;
    position: absolute;
    bottom: -11px;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(159, 179, 192, 0.3), rgba(102, 124, 140, 0));
    z-index: 5;
  }
}

@media screen and (max-width: $sm-breakpoint-max) {
  .nav-bar-container {
    grid-template-rows: 56px max-content 1fr;
    height: $sm-navbar-height;
    padding: 5px $medium-spacing 12px $small-spacing;
  }

  .display-menu {
    height: 100% !important;
    position: fixed;
    z-index: calc(#{$sticky-z-index} + 5);
  }
}
